*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

h1{
	box-sizing: border-box;
	font-size: 30px;
	display:inline-block;
	vertical-align:	middle;
	font-weight: bold; 
}

h2{
	box-sizing: border-box;
	font-size: 20px;
	display:inline-block;
	vertical-align:	middle;
	font-weight: bold; 
}
header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

.espaco{
	margin: 20px;
}